body {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

a {
	text-decoration: none;
}

p {
	padding-bottom: 14px;
	margin: 0;
	line-height: 1.8;
}

.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

/* header */
#header {
		
}

#header .title-area {
	padding: 10px 0;
}

#header img {
	width: 200px;
	height: auto;
}

#header .title-area h1 {
	font-weight: bold;
	font-size: 18px;
	padding: 15px 0;
}

#header .title-area h1 a {
	color: #000000;
}

#header .menu {
	background: #fff;
	margin-bottom: 30px;
	font-size: 14px;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

#header .menu li {
	float: left;
	text-align: left;
	padding: 5px 0px 5px 30px;
}

#header .menu li:first-child {
	padding-left: 0px;
}

#header .menu a{
	padding: 10px 0;
	color: #696969;
	display: block;
}

#header a:hover {
	color: #000000;
}

/* header-change */
#header-change {
	display: flex;
  justify-content: space-between;
	background: #fff;
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
	z-index: 1;
	display: none;
}

.container-header-change {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

#header-change.show-border {
	border-bottom: 1px solid #dcdcdc; 
}


#header-change .logo-area {
	padding: 10px 0;
	text-align: center;
}
#header-change img {
	width: 150px;
	height: auto;
}

/* posts */
#posts {
	float: left;
	width: 70% 
}

#posts .post {
	margin-bottom: 30px;
}

#posts .post-thumbnail {
	width: 95%;
	padding: 10px 2.5%;
	text-align: center;
}

#posts .post-thumbnail .thumbnail {
	background-size: cover;
	background-position: center center;
	padding-top: 56.25%;
	width: 100%;
}

#posts .post-thumbnail .thumnail-uline {
	width: 0;
	height: 5px;
	background: #00a381;
}

#posts .post-title {

}

#posts .post-title h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 2.5%;
	text-decoration: none;
}

#posts .post-title a {

}

#posts .post-meta {
	font-size: 12px;
	padding: 7px 0;
	color: #555;
	margin: 5px 2.5%;
}

#posts .post-content {
	overflow: hidden;
	font-size: 14px;
	color: black;
	margin: 0px 2.5%;
}

#posts .border-btm {
	width: 95%;
	margin: 0 2.5%;
	border-bottom: 1px solid #dcdcdc;
}

.font-black {
	color: black;
	transition: 0.15s;
}

.change-to-green {
	transition: 0.15s;
	color: #00a381;
}

/* navigation */
.navigation {
	overflow: hidden;
	padding: 10px 0;
	font-size: 12px;
	margin-bottom: 15px;
}

.navigation .prev {
	float: left;
	width: 200px;
}

.navigation .next {
	float: right;
	width: 200px;
	text-align: right;
}

/* sidebar */
#sidebar {
	float: right;
	width: 150px;
}

#sidebar .widget {
	margin-bottom: 25px;
}

#sidebar .widget li {
	margin-bottom: 7px;
}

#sidebar .widget h3 {
	font-weight: bold;
	padding-bottom: 7px;
}

/* footer */
#footer {
	height: 200px
	padding: 15px 0;
	background: #323232;
	color: #aeaeae;
	border-top: 1px solid #ccc;
}

.container-footer {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

#about-blog {
	float: left;
	width: 30%;
	margin-right: 5%;
}

#about-blog h2 {
	font-size: 20px;
	margin: 30px 0px 20px 0px;
}

.about-border {
	border-top: 3px solid #aeaeae;
	margin: 15px 0px;
	width: 100px;
}

#about-me {
	float: left;
	width: 30%;
	margin-right: 5%;
}

#about-me h2 {
	font-size: 20px;
	margin: 30px 0px 20px 0px;
}

.sns {
	padding-bottom: 15px;
}

.about-me-icon {
	font-size: 20px;
	padding-right: 5%;
}

#about-me a {
	font-size: 14px;
	color: #aeaeae;	
}

#end-logo {
	float: left;
	width: 30%;
}

#end-logo .end-logo-img {
	width: 80%;
	text-align: center;
	padding: 100px 10%;
	text-align: center;
}

#copyright {
	clear: both;
	font-size: 9px;
	text-align: center;
	padding: 15px 0;
}
